$profile
$escfnoxc
$rij
$jbas file=auxbasis
$title
$symmetry c1
$redundant    file=coord
$coord    file=coord
$atoms
    basis =def2-SVP
    jbas  =def2-SVP
$basis    file=basis
$scfmo   file=mos
$closed shells
 a       1-9                                    ( 2 )
$scfiterlimit       30
$scfdamp   start=0.300  step=0.050  min=0.100
$scfdump
$scfdiis
$scforbitalshift  automatic=.1
$energy    file=energy
$grad    file=gradient
$dft
    functional   pbe
 radsize 1
 gridtype 0
 gridsize 1
$scfconv   8
$ricore      500
$scfinstab ciss
$soes
 a           10
#$maxcor    500 MiB  per_core
$denconv 1d-7
$rundimensions
   natoms=6
$last step     escf
$orbital_max_rnorm 0.82518798191321E-07
$last SCF energy change = -115.48652
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En
-115.4865170747    -236.9735262324     96.48035587936    -14.75122063992    -.5875019626535     40.34537588095
$charge from ridft
         -0.000 (not to be modified here)
$dipole from ridft
  x    -0.29858371005858    y    -0.52349685260548    z    -0.13944495359371    a.u.
   | dipole | =    1.5722954101  debye
$end
